<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cryptbrn.gitconnect">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.cryptbrn.gitconnect.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.cryptbrn.gitconnect.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/OtherTheme">
        <activity android:name=".view.SettingsActivity"
                  android:theme="@style/AppTheme"/>
        <activity android:name=".view.FavoriteActivity"
                  android:theme="@style/AppTheme"/>
        <activity android:name=".view.DetailActivity" />
        <activity
            android:name=".view.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Splash"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.UserProvider"
            android:authorities="com.cryptbrn.gitconnect"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.cryptbrn.gitconnect.READ_DATABASE"
            android:writePermission="com.cryptbrn.gitconnect.WRITE_DATABASE"/>

        <receiver
            android:name="com.cryptbrn.gitconnect.receiver.NotificationReceiver"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>